# dependencies
node_modules/

# build output
dist/

# environment variables
.env
.env.*
!.env.example

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Astro
.astro/

# Pagefind
public/pagefind/
